.title {
    background-image: linear-gradient(90deg, rgba(135, 203, 185, 1) 0%, rgba(0, 65, 133, 1) 100%);
    background-size: 0% 8px;
    background-position: left bottom;
    background-repeat: no-repeat;
    transition: background-size 300ms ease;
    font-size: clamp(3.3rem, 15vw, 5rem);
    width: fit-content;
    margin-block: 6rem -1rem;
    margin-inline: auto;
    font-size: 4rem;
}

.title:hover {
    background-size: 100% 8px;
}

#search-bar {
    background-color: #87CBB9;
    color: #f9f9f9;
    font-size: 2rem;
    width: 40%;
    margin-block: 4rem;
    height: 3rem;
    position: relative;
    margin-inline: auto;
    border: 3px transparent;
    border-radius: 3px;
}