.card-container {
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 20px;
    animation: fadeIn 1.2s;
}

.card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 250px;
    height: 300px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.card-img {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #333;
    transition: 300ms;
    object-fit: cover;
}

.card>h2 {
    font-weight: bold;
    width: 100%;
    padding: 10px;
    color: #f9f9f9;
    position: absolute;
    isolation: isolate;
    z-index: 1;
    background-image: linear-gradient(to left,
            rgba(0, 0, 0, 0),
            rgb(0, 71, 77));
    background-size: 0% 4rem;
    background-position: left bottom;
    background-repeat: no-repeat;
    transition: background-size 300ms ease;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    isolation: isolate;
    width: 100%;
    height: fit-content;
    padding: 25px;
    margin-top: auto;
    text-align: center;
    transform: translateY(65%);
    transition: 500ms;
    overflow: hidden;
    text-transform: uppercase;
    background-color: rgb(0, 0, 0, .6);
    opacity: 0;
}

.card-redirect {
    position: relative;
    top: 15px;
    display: inline-block;
    padding: 12px 25px;
    background-color: #87CBB9;
    color: #f9f9f9;
    font-weight: bold;
    text-decoration: none;
    transition: 300ms;
}

@media (hover) {

    .card:hover>h2 {
        background-size: 100% 4rem;
        font-size: 2rem;
        padding: 5px;
    }

    .card:hover>.content {
        opacity: 1;
        transform: translateY(0%);
        transition-delay: 200ms;
    }

    .card:hover>.card-img, .card-redirect:hover {
        scale: 1.1;
    }
}

@media (max-width: 600px) {

    .card {
        width: 300px;
        height: 260px;
    }

    .card>h2 {
        background-size: 100% 4rem;
        font-size: 2rem;
        padding: 5px;
    }

    .content {
        transform: translateY(0%);
        opacity: 1;
    }
}