header {
    margin-inline: auto;
    width: 100%;
    padding-block: .5rem;
    z-index: 2;
    top: 0;
    position: absolute;
}

#menu {
    height: 4rem;
    display: flex;
    padding: .5rem;
    justify-content: space-between;
    margin-inline: 2%;
}

#nav-list {
    display: flex;
}

#nav-logo {
    max-height: 3rem;
    border-radius: 25px 5px 25px 25px;
}

.nav-button,
#toggle-button {
    list-style: none;
    text-decoration: none;
    padding: .5rem .8rem;
    margin-inline: .3rem;
    border: none;
    color: #f9f9f9;
    transition: .3s ease;
}

.toggle-button {
    display: none;
    font-size: 2rem;
    padding: .5rem .8rem;
    margin-inline: .3rem;
    background-color: transparent;
    border: none;
    color: #f9f9f9;
    transition: .3s ease;
    cursor: pointer;
    justify-content: center;
}

.toggle-menu {
    top: -100vh;
}

#close-nav {
    position: absolute;
    top: .5rem;
    right: 1.2rem;
    padding: .5rem .8rem;
    margin-inline: .3rem;
}

.nav-button:hover,
#toggle-button:hover {
    color: #87CBB9;
    transform: scale(1.1);
}

.fa {
    background-color: transparent;
}

/* Media Query */
@media screen and (max-width: 500px) {
    #nav-list {
        position: fixed;
        top: -100vh;
        left: 0;
        height: 40%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: rgb(0, 0, 0, .8);
        transition: .5s;
    }

    .nav-button {
        margin: 0.5rem 0;
        padding: 0.5rem 0.8rem;
    }

    .toggle-menu {
        transform: translateY(100vh);
    }

    .toggle-button {
        display: block;
    }
}