#carousel {
    background-color: rgb(0, 0, 0, .3);
    position: relative;
    min-height: 100%;
    width: 100%;
    padding-block: 2rem;
}

#carousel-title {
    background-image: linear-gradient(90deg, rgba(135, 203, 185, 1) 0%, rgba(0, 65, 133, 1) 100%);
    background-size: 0% 8px;
    background-position: left bottom;
    background-repeat: no-repeat;
    transition: background-size 300ms ease;
    font-size: clamp(3rem, 15vw, 3.5rem);
    margin-inline: 2%;
    min-width: 40%;
    width: fit-content;
    padding: .5rem;
    margin-inline: auto;
}

#carousel-title:hover {
    background-size: 100% 8px;
}

#cards {
    background-image: linear-gradient(180deg, rgba(135, 203, 185, 0) 0%, rgba(0, 65, 133, 0.4) 100%);
    height: 100%;
    width: 85%;
    display: flex;
    margin-inline: auto;
    margin-bottom: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
}

.card-container {
    position: relative;
    display: flex;
    margin: 1%;
    flex-direction: column;
    width: 45%;
    height: 300px;
    overflow-y: hidden;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    display: inline-block;
    border: 3px transparent;
    transition: .3s ease-in-out;
    filter: brightness(50%);
}

.card-img:hover {
    border: 3px solid #87CBB9;
    filter: brightness(90%);
    z-index: 0;
}

.card-city,
.card-country {
    background-color: rgb(0, 0, 0, .4);
    transition: .3s ease;
    bottom: 0%;
    width: 100%;
    height: 15%;
    position: absolute;
    isolation: isolate;
    display: flex;
    z-index: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.card-city {
    background-color: rgb(0, 0, 0, .6);
    bottom: -10%;
    color: #87CBB9;
    text-transform: none;
}

.card-container:hover>.card-city {
    z-index: 1;
    bottom: 15%;
}

#arrows {
    width: 100%;
    margin-inline: 2%;
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-inline: auto;
    isolation: isolate;
}

.carousel-button {
    background-image: linear-gradient(180deg, rgba(135, 203, 185, 1) 0%, rgba(0, 65, 133, 0.4) 100%);
    background-repeat: no-repeat;
    padding: 0 2rem;
    font-size: 2rem;
    border: 3px solid transparent;
    color: #f9f9f9;
    transition: 300ms ease;
    cursor: pointer;
}

.carousel-button:hover {
    background-image: linear-gradient(180deg, rgba(135, 203, 185, 1) 100%, rgba(0, 65, 133, 0.4) 0%);
    transform: scale(1.1);
    border: 3px solid #f9f9f9;
}

/* Media Query */
@media screen and (max-width: 780px) {
    .card-container {
        width: 45%;
        height: 30vh;
    }

    #cards {
        width: 100%;
    }
}