.city-details-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100vh;
    height: fit-content;
    width: 100%;
    color: #f9f9f9;
    animation: fadeIn 1.2s;
}

.city-details-container h2 {
    font-size: 3rem;
}

.city-details {
    position: relative;
    margin-block: 3rem 1rem;
    font-size: 2rem;
    height: 100%;
}

.back-button {
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 1rem;
    margin-left: 1rem;
    padding: 0 .5rem;
    background-color: #87CBB9;
    cursor: pointer;
    transition: 300ms;
    color: #f9f9f9;
}

.back-button:hover {
    scale: 1.1;
}

.itineraries-section {
    margin-block: 2rem;
    position: relative;
    justify-content: center;
    margin-inline: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.itinerary-title {
    font-size: 2rem;
    color: #87CBB9;
    margin-block: auto 0;
}

#no-itinerary-message {
    margin-block: auto;
    font-size: 1.5rem;
    color: #87CBB9;
}

#go-back-button {
    cursor: pointer;
    background-color: transparent;
    color: #f9f9f9;
    border: none;
    position: relative;
    padding: .5rem;
    font-size: 1.2rem;
}