.city-details-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    height: inherit;
    width: 100%;
    color: #f9f9f9;
    animation: fadeIn 1.2s;
}

.city-details-container h2 {
    font-size: 3rem;
}

.city-details {
    display: flex;
    flex-direction: column;
    gap: 0;
    position: relative;
    margin-block: 3rem 1rem;
    font-size: 2rem;
    height: 100%;
}

.country,
.description {
    display: flex;
    gap: 1rem;
    height: inherit;
    align-items: baseline;
}

.back-button {
    position: absolute;
    left: 2%;
    bottom: 1.5rem;
    z-index: 1;
}

.itineraries-section {
    margin-block: 1.5rem;
    position: relative;
    justify-content: center;
    margin-inline: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.itinerary-title {
    font-size: 2rem;
    color: #87CBB9;
    margin-block: auto .5rem;
    text-transform: uppercase;
}

#no-itinerary-message {
    margin-block: auto;
    font-size: 1.5rem;
    color: #87CBB9;
}

@media (max-width: 500px) {
    .back-button {
        position: relative;
        left: 0;
        width: 60vw !important;
    }
}