#footer {
    background-image: linear-gradient(90deg, rgba(135, 203, 185, .7) 0%, rgba(0, 65, 133, .5) 100%);
    background-color: #0b0b0b;
    width: 100%;
    position: absolute;
    margin-top: auto;
    min-height: 5rem;
    padding-block: 1rem;
    height: fit-content;
    color: #f9f9f9;
}

#footer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-inline: auto;
    width: 80%;
}

.sector {
    margin: .5rem;
}

.sector h4 {
    background-image: linear-gradient(90deg, rgba(135, 203, 185, 1) 0%, rgba(0, 65, 133, 1) 100%);
    background-size: 100% 4px;
    background-position: left bottom;
    background-repeat: no-repeat;
    width: fit-content;
    margin: 0 auto .5rem;
}

.sector a {
    margin-inline: .2rem;
    padding: .2rem;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    #footer-container {
        width: 90%;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-around;
    }

    .sector {
        width: auto;
    }
}