@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: bold;
  text-align: center;
  align-items: center;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeBackground {
  from {
    background-size: 0% 8px;
  }

  to {
    background-size: 100% 8px;
  }
}