@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: bold;
  text-align: center;
  align-items: center;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background: rgb(0,59,65);
  background-image: linear-gradient(184deg, rgba(0,59,65,.95) 0%, rgba(0,30,61,.95) 100%), url('../public/assets/Background.jpg');
  background-repeat: repeat;
}

main {
  margin-inline: auto;
  margin-block: auto;
  color: #f9f9f9;
  width: 100%;
}

li {
  list-style: none;
}

