.user-profile {
    position: relative;
    color: #f9f9f9;
    overflow: hidden;
    height: 3rem;
    width: 4rem;
    margin-inline: 1rem;
    cursor: pointer;
}

.user-profile:hover {
    margin-top: auto;
    height: auto;
    overflow: visible;
}

.user-profile:hover> .user-info {
    width: auto;
}

.user-info {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    align-items: center;
    position: relative;
}

.user-avatar {
    max-width: 3rem;
    border-radius: 100%;
    border: 2px solid aquamarine;
}

.user-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}